/* Variables */
:root {
  --site-max-width: 990px;
  --font-size-primary: 16px;
  --font-size: 13px;
  --global-line-height:  1.4;
  --global-border-radius:  2px;

  /* Fonts ************************/
  --font-primary: arial, verdana, helvetica, geneva, sans-serif;

  /* Breakpoints *************/
  @custom-media --small (max-width: 480px);
  @custom-media --medium (min-width: 481px) and (max-width: 780px);
  @custom-media --large (min-width: 781px) and (max-width: 99999999px);

  /* Breakpoints UP */
  @custom-media --small-up (width > 1px);
  @custom-media --medium-up (width > 480px);
  @custom-media --large-up (width > 780px);

  /* Grid Settings *************/
  --grid-space: 10px;
  --block-grid-space: 7px;

  /* Form Style Vars *************/
  --fieldset-border-color: var(--color-medium-grey);
  --input-border-color : var(--color-medium-grey);
  --form-padding : 25px 25px;
  --form-field-margin : 0 0 15px 0;
  --input-font-size : 13px;
  --label-font-size : 13px;
  --input-padding : 9px 10px;
  --input-color : #7f7f7f;
}
